<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 共通 -->
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <!-- 独自 -->
  <link rel="stylesheet" href="/static//css/create-question.css">
  <title>ふくしゅうくん</title>
</head>
<body>
  <div class="create-question-container">
    <div class="contents-wrapper">
      <div class="q-wrapper create">
        <form action="" class="create-form">
          <div class="form-item">
            <label for="question">問題文</label>
            <textarea name="question" id="question"></textarea>
          </div>
          <div class="form-item">
            <label for="correct-ans">正答</label>
            <input type="text" name="answer" id="correct-ans">
          </div>
          <div class="form-item">
            <label for="wrong-ans1">誤答例1</label>
            <input type="text" name="answer" id="wrong-ans1">
          </div>
          <div class="form-item">
            <label for="wrong-ans2">誤答例2</label>
            <input type="text" name="answer" id="wrong-ans2">
          </div>
          <div class="form-item">
            <label for="wrong-ans3">誤答例3</label>
            <input type="text" name="answer" id="wrong-ans3">
          </div>
          <div class="btn-wrapper">
            <button class="btn dark" id="create-btn">問題を作成</button>
          </div>
        </form>
      </div>
      <div class="q-wrapper ask">
        <div class="title">出題リスト</div>
        <ul class="qustion-list">
          <li class="list-item-wrapper">
            <div class="left">
            <span class="list-number">1</span>
            <span class="question-text">1+1=?</span>
            </div>
            <button class="btn">出題</button>
          </li>
          <li class="list-item-wrapper">
            <div class="left">
            <span class="list-number">2</span>
            <span class="question-text">1+1=?</span>
            </div>
            <button class="btn">出題</button>
          </li>
          <li class="list-item-wrapper">
            <div class="left">
            <span class="list-number">3</span>
            <span class="question-text">1+1=?</span>
            </div>
            <button class="btn">出題</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
