<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <title>ふくしゅうくん</title>
</head>
<body>
  <div class="enter-page-container">
    <div class="contents-wrapper">
      <h1 class="app-title">ふくしゅうくん</h1>
    </div>
    <form action="/answer" class="enter-form" method="POST">
      <div class="form-item">
        <label for="room-number">部屋番号</label>
        <input type="text" name="roomID" id="">
        <span class="sub-text">部屋の番号を入力してください</span>
      </div>
      <div class="form-item">
        <label for="user-name">名前</label>
        <input type="text" name="name" id="user-name" placeholder="例：もりおか太郎">
        <span class="sub-text">あなたの名前を入力してください</span>
      </div>
      <a href="" class="toCreaterLink">出題者はこちら</a>
      <div class="btn-wrapper">
        <button type="submit" class="btn"><span class="btn-text">入室</span><span class="material-icons-outlined">login </span></button>
      </div>
    </form>
  </div>
</body>
</html>
